In [1]:
import numpy as np
import pandas as pd

data=pd.read_csv('har_activity1.csv')
print(data.head())
print(data.info())

     user gender  age  how_tall_in_meters  weight  body_mass_index  x1   y1  \
0  debora  Woman   46                1.62      75             28.6   0   97
1  debora  Woman   46                1.62      75             28.6   1  100
2  debora  Woman   46                1.62      75             28.6  -2  102
3  debora  Woman   46                1.62      75             28.6   0  102
4  debora  Woman   46                1.62      75             28.6  -3   97

   z1  x2  y2  z2  x3   y3  z3   x4     y4   z4    class
0 -61 -14  19 -16 -13  105 -89 -148 -102.0 -146  sitting
1 -63 -10  22 -13 -14  104 -91 -177  -99.0 -133  sitting
2 -73 -13  19 -17 -13  104 -90 -158  -99.0 -150  sitting
3 -67 -10  21 -13 -13  104 -91 -156 -101.0 -147  sitting
4 -66 -15  18 -17 -13  104 -90 -157  -99.0 -148  sitting
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9998 entries, 0 to 9997
Data columns (total 19 columns):
user                  9998 non-null object
gender                9998 non-null object
age                   9998 non-null int64
how_tall_in_meters    9998 non-null float64
weight                9998 non-null int64
body_mass_index       9998 non-null float64
x1                    9998 non-null int64
y1                    9998 non-null int64
z1                    9998 non-null int64
x2                    9998 non-null int64
y2                    9998 non-null int64
z2                    9998 non-null int64
x3                    9998 non-null int64
y3                    9998 non-null int64
z3                    9998 non-null int64
x4                    9998 non-null int64
y4                    9997 non-null float64
z4                    9998 non-null int64
class                 9998 non-null object
dtypes: float64(3), int64(13), object(3)
memory usage: 1.4+ MB
None